.wrapper {
  width: 100%;
  height: 100vh;
  --wrapper-height: 50px;
}

.header {
  height: var(--wrapper-height);
  background-color: #29303b;
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;

  .back-icon {
    width: 60px;
    height: var(--wrapper-height);
    display: flex;
    cursor: pointer;
    transition: background-color linear .2s;

    svg {
      overflow: visible;
      box-sizing: content-box;
      margin: auto;
      color: var(--white);
    }
  }

  .logo {
    position: relative;
    top: 1px;
    margin-left: 8px;
    -webkit-tap-highlight-color: transparent;
    height: 32px;

    img {
      height: 30px;
      border-radius: 8px;
    }
  }

  .course-title {
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 16px;
    color: var(--white);
    overflow: hidden;
    word-wrap: break-word;
  }
}

.action {
  display: flex;
  margin-left: auto;
  align-items: center;

  .progress-bar {
    display: flex;
    align-items: center;
    margin-right: 24px;

    .progress {
      width: 34px;
      height: 34px;
    }

    .completed-lesson {
      color: var(--white);
      font-size: 1.3rem;
      margin-left: 6px;

      strong {
        font-weight: 600;
      }

      .num {
        font-size: 1.2rem;
        font-variant-numeric: tabular-nums;
      }
    }
  }
}

.side-bar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  bottom: var(--wrapper-height);
  width: 23%;
  margin-top: var(--wrapper-height);
  border-left: 1px solid #e7e7e7;

  .container {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    animation: fadeIn ease-in .2s;

    .sidebar-header {
      padding: 12px 16px;
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .heading {
        margin: 0;
        font-size: 1.6rem;
        line-height: 1.4;
      }
    }

    .body {
      overflow-y: overlay;
      flex: 1;
      overscroll-behavior: contain;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.main-content {
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 50px;
  width: 77%;
  margin-top: 50px;
  overflow-x: hidden;
  overscroll-behavior: contain;

  .video-container {
    width: 100%;
    position: relative;
    background-color: var(--black);
    padding: 0 8.5%;
    user-select: none;

    .video-player-container {
      position: relative;
      padding-top: 56.25%;

      .video-player {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

    }
  }

  .content {
    padding: 0 8.5%;
    min-height: 400px;

    .content-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .description-wrapper {
        display: block;

        .heading {
          margin: 48px 0 8px;
          font-size: 2.8rem;
          line-height: 1.4;
        }

        .update-at {
          font-size: 1.3rem;
          margin-bottom: 36px;
        }
      }
    }

    .content-wrapper {
      --font-size: 1.6rem;
      --line-height: 1.8;
      color: #292929;
      word-wrap: break-word;
      line-height: var(--line-height, 2);
      font-size: var(--font-size, 1.8rem);

      p {
        margin: 16px 0;

        a {
          color: var(--primary-color);
          text-decoration: underline;
          outline: none;
        }
      }
    }
  }

  .content-footer {
    padding: 30px 0;
    font-size: 1.4rem;
    text-align: center;
    color: #666;

    svg {
      overflow: visible;
      box-sizing: content-box;
      color: #d43c68;
      display: inline-block;
      height: 1em;
      vertical-align: -.125em;
      fill: currentColor;
      overflow-clip-margin: content-box;
      font-size: 1.4rem;
      text-align: center;
    }
  }
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #f0f0f0;
  box-shadow: #0000001a 0 -2px 3px;

  .btn-group {
    display: flex;
    gap: 16px;

    .btn {
      border-radius: 99px;
      display: inline-block;
      min-width: 148px;
      height: 32px;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.8;
      letter-spacing: 1px;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      background: linear-gradient(#5ebbff80 40%, #a174ff80);
      transition: opacity .2s;
      outline: none;
      border: none;
      user-select: none;
      padding: 0;
      cursor: pointer;
      box-shadow: none;
      color: inherit;
    }

    .inner {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      width: 100%;
      height: 100%;
      padding: 4px 16px;
      border-radius: inherit;
      border: 1px solid transparent;
      background-color: #fff;
      background-clip: padding-box;
    }

    .pre-btn-inner {

      svg {
        overflow: visible;
        box-sizing: content-box;
        color: #5ebbff;
        display: inline-block;
        height: 1em;
        vertical-align: -.125em;
        fill: currentColor;
      }

      .btn-title {
        color: transparent;
        background: linear-gradient(to bottom right, #5ebbff, #a174ff);
        background-clip: text;
        line-height: 32px; // Đặt line-height bằng với chiều cao của phần tử
        height: 32px;
        text-align: center; // Căn giữa theo chiều ngang
      }
    }

    .next-btn-inner {
      border: none;
      background-color: #0093fc;

      .btn-title {
        background-image: none;
        background-color: #fff;
        color: transparent;
        //background: linear-gradient(to bottom right, #5ebbff, #a174ff);
        background-clip: text;
        line-height: 32px; // Đặt line-height bằng với chiều cao của phần tử
        height: 32px;
        text-align: center; // Căn giữa theo chiều ngang
      }

      svg {
        color: #fff;
        overflow: visible;
        box-sizing: content-box;
        display: inline-block;
        height: 1em;
        vertical-align: -.125em;
        fill: currentColor;
        overflow-clip-margin: content-box;
      }
    }
  }

  .toggle-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }
}