.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #f0f0f0;
  box-shadow: #0000001a 0 -2px 3px;

  .btn-group {
    display: flex;
    gap: 16px;

    .btn {
      border-radius: 99px;
      display: inline-block;
      min-width: 148px;
      height: 32px;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.8;
      letter-spacing: 1px;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      background: linear-gradient(#5ebbff80 40%, #a174ff80);
      transition: opacity .2s;
      outline: none;
      border: none;
      user-select: none;
      padding: 0;
      cursor: pointer;
      box-shadow: none;
      color: inherit;
    }

    .inner {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      width: 100%;
      height: 100%;
      padding: 4px 16px;
      border-radius: inherit;
      border: 1px solid transparent;
      background-color: #fff;
      background-clip: padding-box;
    }

    .pre-btn-inner {

      svg {
        overflow: visible;
        box-sizing: content-box;
        color: #5ebbff;
        display: inline-block;
        height: 1em;
        vertical-align: -.125em;
        fill: currentColor;
      }

      .btn-title {
        color: transparent;
        background: linear-gradient(to bottom right, #5ebbff, #a174ff);
        background-clip: text;
        line-height: 32px; // Đặt line-height bằng với chiều cao của phần tử
        height: 32px;
        text-align: center; // Căn giữa theo chiều ngang
      }
    }

    .next-btn-inner {
      border: none;
      background-color: #0093fc;

      .btn-title {
        background-image: none;
        background-color: #fff;
        color: transparent;
        //background: linear-gradient(to bottom right, #5ebbff, #a174ff);
        background-clip: text;
        line-height: 32px; // Đặt line-height bằng với chiều cao của phần tử
        height: 32px;
        text-align: center; // Căn giữa theo chiều ngang
      }

      svg {
        color: #fff;
        overflow: visible;
        box-sizing: content-box;
        display: inline-block;
        height: 1em;
        vertical-align: -.125em;
        fill: currentColor;
        overflow-clip-margin: content-box;
      }
    }
  }

  .toggle-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;

    .track-title {
      font-size: 1.4rem;
      overflow: hidden;
      word-wrap: break-word;
    }

    .toggle-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      font-size: 1.6rem;
      background-color: #fff;
      margin: 0 8px;
      cursor: pointer;
    }
  }
}