.main-content {
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 50px;
  width: 77%;
  margin-top: 50px;
  overflow-x: hidden;
  overscroll-behavior: contain;
  background-color: red;

  .video-container {
    width: 100%;
    position: relative;
    background-color: var(--black);
    padding: 0 8.5%;
    user-select: none;

    .video-player-container {
      position: relative;
      padding-top: 56.25%;

      .video-player {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

    }
  }

  .content {
    padding: 0 8.5%;
    min-height: 400px;

    .content-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .description-wrapper {
        display: block;

        .heading {
          margin: 48px 0 8px;
          font-size: 2.8rem;
          line-height: 1.4;
        }

        .update-at {
          font-size: 1.3rem;
          margin-bottom: 36px;
        }
      }
    }

    .content-wrapper {
      --font-size: 1.6rem;
      --line-height: 1.8;
      color: #292929;
      word-wrap: break-word;
      line-height: var(--line-height, 2);
      font-size: var(--font-size, 1.8rem);

      p {
        margin: 16px 0;

        a {
          color: var(--primary-color);
          text-decoration: underline;
          outline: none;
        }
      }
    }
  }

  .content-footer {
    padding: 30px 0;
    font-size: 1.4rem;
    text-align: center;
    color: #666;

    svg {
      overflow: visible;
      box-sizing: content-box;
      color: #d43c68;
      display: inline-block;
      height: 1em;
      vertical-align: -.125em;
      fill: currentColor;
      overflow-clip-margin: content-box;
      font-size: 1.4rem;
      text-align: center;
    }
  }
}