.wrapper {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--default-layout-header-height);
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e8ebed;
  z-index: 20;
}

.inner {
  height: 100%;
  width: 100%;
  padding: 0 calc(100% / 54);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left-header {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    object-fit: contain;
    border-radius: 8px;
    cursor: pointer;
  }

  .title {
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 700;
    margin-left: 16px;
    font-size: 1.4rem;
    cursor: pointer;
  }
}

.center-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 22%
}

.actions {
  display: flex;
  align-items: center;

  .action-btn {
    position: relative;
    display: flex;
    font-size: 2.2rem;
    color: #707070;
    background-color: transparent;
    padding: 4px 10px;
    cursor: pointer;

    &:hover {
      color: var(--text-color);
    }
  }

}

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 12px;
  cursor: pointer;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
  justify-content: flex-end;
  .auth-btn {
      padding: 8px 16px;
      border-radius: 99px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;
      background: transparent;
      color: #333;
      border: none;

      &:hover {
          color: #ff6b00;
      }

      &.active {
          background: linear-gradient(45deg, #ff6b00, #ff8c42);
          color: #fff;
      }
  }
}
