.wrapper {
  background-color: #181821;
  color: #a9b3bb;
  width: 100%;
  min-height: var(--default-layout-footer-height);
  z-index: 1;
  padding: 68px 150px 40px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.top-row {
  display: flex;
}

.col {
  width: 25%;
  display: flex;
  //justify-content: center;
  flex-direction: column;
  padding: 0 12px;

  &.col_bw {
    flex: 1;
  }
}

.column-top {
  display: flex;
  align-items: center;

  .logo {
    width: 38px;
    height: 38px;
    margin-right: 10px;
    border-radius: 8px;
  }

  .slogan {
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
  }
}

.contact-list {
  position: relative;
  margin-top: 20px;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.introduct-list {
  list-style-type: none;

  li {
    position: relative;
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-bottom: 8px;
  }
}

.company-info {
  position: relative;
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-bottom: 8px;
}

.protected {
  margin-top: 20px;
}

.bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;

  .copyright {
    line-height: 1.5;
    font-size: 1.4rem;
  }
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;

  .social-icon {
    display: flex;
    align-items: center;
    padding: 12px;

    img {
      width: 32px;
      object-fit: cover;
    }
  }
}